/**********/
/* Colors */
/**********/

$color-BA: #00a3e0;
$color-BAF01: #0086b8;

$color-BL: #fff;

$color-GB: #688097;
$color-GBC02: #b3c0cb;

$color-VER: #e63b11;
$color-VERF01: #ac2c0c;

$color-VE: #93c90e;
